input[type="radio"] {
    outline: auto !important;
    -webkit-appearance: auto !important;
    -moz-appearance: auto !important;
    cursor: pointer;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #0A8F62;
}

.title-small {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #737B7D;
    text-align: center;
}

.title-bold {
    font-size: 32px;
    font-weight: 630;
    font-style: normal;
    line-height: 40px;
    text-align: center;
}

.title-sub {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    color: #737B7D;
    text-align: center;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

.primary-button {
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    background: linear-gradient(93.22deg, rgb(10, 143, 98) -7.84%, rgb(0, 142, 94) 111.31%);
    width: 160px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.secondary-button {
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: rgb(47, 188, 238);
    background: rgb(245, 245, 245);
    width: 160px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    margin-right: 20px;
}

.question-panel {
    display: flex;
    margin-bottom: 20px;
}

.question-image {
    width: 240px;
}

.question-panel input[type="radio"] {
    margin-right: 10px;
}

.questions-btns-container {
    margin-left: 20px;
    display: flex;
}

.with-text {
    display: block;
    justify-content: center;
    align-items: center;
}

.with-text>div {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.with-text .question-image {
    margin-left: 20px;
}

.question-image {
    width: 240px;
}

.question-panel input[type="radio"] {
    margin-right: 10px;
}

.btn-back {
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: rgb(47, 188, 238);
    background: rgb(245, 245, 245);
    width: 160px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    margin-right: 20px;
}

.btn-next {
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    background: linear-gradient(93.22deg, rgb(10, 143, 98) -7.84%, rgb(0, 142, 94) 111.31%);
    width: 160px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}


/* FORM STEP #6 */

.offer-container {
    display: flex;
    margin-top: 30px;
}

.offer-container-right {
    margin-left: 50px;
    margin-top: 50px;
}

.offer {
    border: 1px solid #E5E5E5;
    padding: 32px;
}

.offer-title {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.offer-price-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 25px;
}

.offer-price-value {
    font-size: 48px;
    font-weight: 800;
}

.offer-price-text {
    font-size: 16px;
    font-weight: 600;
    color: #C3CBCD;
}

.offer-note {
    font-size: 14px;
    color: #737B7D;
    text-align: left;
}

.offer-risks-title {
    font-size: 14px;
    font-weight: 600;
    color: #373F41;
    text-align: left;
}

.offer-risks-list {
    list-style: circle;
    list-style-type: disc;
}

.offer-risks-list li {
    font-weight: 600;
    font-size: 14px;
    color: #737B7D;
    line-height: 22px;
    text-align: left;
}

.release-title {
    font-size: 14px;
    font-weight: 600;
    color: #373F41;
    text-align: left;
}

.release-list {
    list-style: circle;
    list-style-type: disc;
}

.release-list li {
    font-weight: 600;
    font-size: 14px;
    color: #737B7D;
    line-height: 22px;
    text-align: left;
}

.insured-sum-title {
    font-size: 14px;
    font-weight: 600;
    color: #373F41;
    text-align: left;
}

.insured-sum-list {
    list-style: circle;
    list-style-type: disc;
}

.insured-sum-list li {
    font-weight: 600;
    font-size: 14px;
    color: black;
    line-height: 22px;
    text-align: left;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.wide {
    width: 100%;
    margin-bottom: 10px;
}

@media (min-width: 240px) and (max-width: 375px) {
    /* .left {
        text-align: left;
    } */
    .primary-button {
        width: 100%;
    }
}

@media (min-width: 240px) and (max-width: 570px) {
    .two_select {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .select {
        width: 100% !important;
        padding-bottom: 16px;
    }
}

@media (min-width: 240px) and (max-width: 470px) {
    .questions {
        width: 100%;
    }
    .question-panel {
        flex-direction: column;
        background-color: #E2E5E6;
    }
    .question-panel img {
        width: 100%;
    }
    .question-panel input[type="radio"] {
        margin: 5px;
    }
    .questions-btns-container {
        display: flex;
        justify-content: space-between;
        margin-left: 0 !important;
    }
    .with-text .question-image {
        margin-left: 0;
    }
    /* .request-form-title {
        text-align: center !important;
    }
    .end-page-left-side {
        text-align: center !important;
    } */
}

@media screen and (max-width: 1200px) {
    .visibility {
        display: none;
    }
    /* .offer-container-right {
        display: none;
    }
    .end-page-right-side {
        display: none;
    } */
}


/* REQUEST FORM */

.request-form-title {
    color: #737B7D !important;
    font-size: 26px !important;
    text-align: left;
    margin-bottom: 30px;
}


/* END PAGE */

.end-page-left-side {
    padding: 20px;
    text-align: left;
}

.end-page-right-side {
    margin-right: 200px;
}